# Entorno virtual
.venv/
venv/
env/

# Python
__pycache__/
*.py[cod]
*.pyo
*.egg-info/
dist/
build/

# Django
db.sqlite3
*.log
media/
staticfiles/
nohup.out

# IDE
.idea/
.vscode/
*.iml

# Sistema
.DS_Store
Thumbs.db

# Variables de entorno (el .env.example SÍ se sube como referencia)
.env
.env.local
.env.production
